/* TopDash.css */
.top-dash-card {
  background: linear-gradient(
    135deg,
    #7dd3fc,
    #0ea5e9
  ); /* Adjust gradient colors as needed */
  color: #fff; /* Text color for better visibility on the gradient background */
  padding: 16px;
}

/* Define responsive behavior for the icon */
.responsive-icon {
  max-width: 100%; /* Set a maximum width for the icon */
  height: auto; /* Allow the height to adjust automatically */
}

/* Style the icon container */
.icon-container {
  width: 70px;
  height: 100px;
  /* Add any other styles you want for the icon container */
}
